* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif; /* Fonte mais moderna e jovem */
    background-color: #f3f4f6; /* Fundo claro para uma sensação limpa */
    color: #333; /* Texto em uma cor neutra para bom contraste */
}

/* Ajustes no background para adicionar uma vibração mais jovem */
.background {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    background: linear-gradient(135deg, #ffa500 50%, #008000 50%);
    background-size: cover;
    padding: 20px;
    animation: backgroundMovement 10s infinite alternate;
}

@keyframes backgroundMovement {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.section:hover {
    transform: scale(1.05); /* Adiciona uma animação ao passar o mouse */
}

/* Cores vibrantes para as seções */
.sports {
    background: rgba(255, 165, 0, 0.7);
    color: white;
    border-bottom: 5px solid #ff8500;
}

.events {
    background: rgba(0, 128, 0, 0.7);
    color: white;
    border-bottom: 5px solid #006400;
}

.clubs {
    background: rgba(255, 165, 0, 0.7);
    color: white;
    border-bottom: 5px solid #ff8500;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}

/* Icones placeholders */
.icon {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    background-size: cover;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));
}

.sports-icon {
    background-image: url('sports-icon.png'); /* Placeholder para ícone de esportes */
}

.events-icon {
    background-image: url('events-icon.png'); /* Placeholder para ícone de eventos acadêmicos */
}

.clubs-icon {
    background-image: url('clubs-icon.png'); /* Placeholder para ícone de clubes acadêmicos */
}

/* Responsividade para melhorar a navegação em telas menores */
@media (max-width: 768px) {
    .background {
        flex-direction: column;
        height: auto;
    }

    .section {
        width: 80%;
        margin-bottom: 20px;
    }
}
