/* Resetando margens e preenchimentos padrão de body e html, e ajustando a altura para 100% da tela */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.MeuPerfil {
    border: none;
    color: white;
    background-color: #4CAF50;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.btnPerfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnPerfil img{
    width: 30px;
    height: 30px;
}

.btnPerfil p {
    margin: 0;
    font-size: 16px;
}

.atividades {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: height 0.3s ease-out, opacity 0.3s ease-out;
    border-radius: 10px;
}

.atividades li {
    padding: 10px;
    background-color: #4CAF50;
    border-top: 1px solid #ccc;
}

.MeuPerfil.active .atividades {
    height: auto;
    opacity: 1;
}

.background {
    position: relative;
    background-image: url('imagens/plano de fundo.jpg'); /* Define uma imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir toda a área disponível */
    background-position: center center; /* Centraliza a imagem no centro da tela */
    height: 100%; /* Define altura para ocupar toda a tela */
    display: flex; /* Define um layout flexível para centralização de elementos internos */
    align-items: center; /* Centraliza verticalmente o conteúdo */
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
}

/* Seção transparente com conteúdo centralizado */
.section {
    position: relative;
    /* Necessário para posicionar elementos internos de forma absoluta */
    background-color: rgba(255, 255, 255, 0.8);
    /* Fundo branco com opacidade */
    margin: 10px;
    /* Margem externa de 10px em todos os lados */
    padding: 20px;
    border-radius: 10px;
    /* Bordas arredondadas */
    text-align: center;
    /* Centraliza o texto dentro da seção */
    width: 200px;
    height: 70px;
}

/* Container para a área de esportes */
.sports {
    background-image: url('imagens/esportes.jpg'); /* Imagem de fundo específica para o container de esportes */
    background-size: cover; /* Faz a imagem de fundo cobrir toda a área */
    background-position: center; /* Centraliza a imagem de fundo */
    width: 300px; /* Define a largura do container */ 
    height: 200px; /* Define a altura do container */
    display: flex; /* Usa flexbox para organizar os elementos dentro */
    flex-direction: column; /* Alinha os elementos verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    overflow: hidden; /* Oculta qualquer conteúdo que exceda o container */
}

/* Estilo do título dentro da área de esportes */
.sports-title {
    margin: 0; /* Remove margens ao redor do título */
    color: #038610; /* Define a cor verde para o título */
}

h2 {
    font-size: 35px;
}

/* Esconde o título ao passar o mouse */
.sports:hover .sports-title {
    opacity: 0; /* Faz o título desaparecer ao passar o mouse */
}

/* Container dos botões, inicialmente escondido */
.sports-buttons {
    display: none; /* Esconde os botões por padrão */
    margin-top: 10px; /* Espaçamento acima dos botões */
    gap: 20px; /* Define um espaçamento entre os botões */
    flex-direction: column; /* Alinha os botões verticalmente */
    align-items: center; /* Centraliza os botões horizontalmente */
    justify-content: space-between; /* Distribui os botões uniformemente */
    width: 100%;
    height: 100%; /* Define a altura total do container */
}

/* Exibe os botões ao passar o mouse sobre o container de esportes */
.sports:hover .sports-buttons {
    display: flex;
    /* Mostra os botões usando flexbox */
}

/* Estilo dos botões dentro da seção de esportes */
.sport-button {
    background-color: #FFA500; /* Define a cor de fundo laranja */
    color: white; /* Define a cor do texto como branco */
    border: none; /* Remove a borda padrão */
    padding: 15px 0; /* Adiciona espaçamento vertical dentro do botão */
    border-radius: 50px; /* Bordas arredondadas no botão */
    cursor: pointer; /* Aplica o cursor de "mãozinha" ao passar o mouse */
    transition: background-color 0.3s ease; /* Aplica transição suave ao mudar a cor de fundo */
    font-size: 1.7vw; /* Define o tamanho da fonte relativo à largura da tela (viewport) */
    width: 250px; /* Largura fixa dos botões */
    height: 40px; /* Define altura para ajustar o tamanho do botão */
    display: flex; /* Ativa o flexbox dentro do botão */
    justify-content: center; /* Centraliza o texto horizontalmente */
    align-items: center; /* Centraliza o texto verticalmente */
    justify-content: space-evenly /* Distribui o conteúdo uniformemente no botão */
}

/* Muda a cor do botão ao passar o mouse */
.sport-button:hover {
    background-color: #4CAF50; /* Muda a cor de fundo para verde ao passar o mouse */
}

.animação:hover {
    animation: animCard 400ms;
    height: 225px;
    width: 450px;
}

.animação h2 {
    transition: opacity;
}

.animação:hover h2 {
    display: none;
}

.animação:not(:hover) {
    animation: notAnimCard 400ms;
    height: 150px;
    width: 350px;
}

.events {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(imagens/person-holding-speech-official-event.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.containerLinks {
    overflow: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    transition: opacity 400ms ease, visibility 400ms ease;
}

.animação:hover .containerLinks {
    opacity: 1;
    visibility: visible;
}

.modal-btn {
    text-decoration: none;
    text-align: center;
    background-color: #FFA500; /* Define a cor de fundo laranja */
    color: white; /* Define a cor do texto como branco */
    border: none; /* Remove a borda padrão */
    padding: 15px; /* Adiciona espaçamento vertical dentro do botão */
    border-radius: 50px; /* Bordas arredondadas no botão */
    cursor: pointer; /* Aplica o cursor de "mãozinha" ao passar o mouse */
    transition: background-color 0.3s ease; /* Aplica transição suave ao mudar a cor de fundo */
    font-size: 1.7vw;  /* Define o tamanho da fonte relativo à largura da tela (viewport) */
    width: 100%; /* Largura fixa dos botões */
    display: flex; /* Ativa o flexbox dentro do botão */
    justify-content: center; /* Centraliza o texto horizontalmente */
    align-items: center; /* Centraliza o texto verticalmente */
    justify-content: space-evenly /* Distribui o conteúdo uniformemente no botão */
}

.modal-btn:hover {
    background-color: #4CAF50;
    /* Muda a cor de fundo para verde ao passar o mouse */
}

.clubs-title {
    margin: 0; /* Remove margens ao redor do título */
    color: #038610; /* Define a cor verde para o título */
}

/* Tamanho do título h2 */
h2 {
    font-size: 35px;
}

/* Esconde o título ao passar o mouse */
.clubs:hover .clubs-title {
    opacity: 0; /* Faz o título desaparecer ao passar o mouse */
}

/* Container dos botões, inicialmente escondido */
.clubs-buttons {
    display: none; /* Esconde os botões por padrão */
    margin-top: 10px; /* Espaçamento acima dos botões */
    gap: 20px; /* Define um espaçamento entre os botões */
    flex-direction: column; /* Alinha os botões verticalmente */
    align-items: center; /* Centraliza os botões horizontalmente */
    justify-content: space-between; /* Distribui os botões uniformemente */
    width: 100%;
    height: 100%; /* Define a altura total do container */
}

/* Mostra os botões quando a seção é hover */
.clubs:hover .clubs-buttons {
    display: flex; /* Exibe os botões ao passar o mouse */
}

.clubs {
    background-image: url('imagens/Clubes_academicos.jpg'); /* Imagem de fundo específica para o container de clubes */
    background-size: cover; /* Faz a imagem de fundo cobrir toda a área */
    background-position: center; /* Centraliza a imagem de fundo */
    width: 300px; /* Define a largura do container */
    height: 200px; /* Define a altura do container */
    display: flex; /* Usa flexbox para organizar os elementos dentro */
    flex-direction: column; /* Alinha os elementos verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    overflow: hidden; /* Oculta qualquer conteúdo que exceda o container */
}

/* Estilo dos botões dentro da seção de clubes */
.club-button {
    background-color: #FFA500; /* Cor de fundo laranja */
    color: white; /* Cor do texto branco */
    border: none; /* Remove a borda padrão */
    padding: 15px 0; /* Espaçamento vertical dentro do botão */
    border-radius: 50px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de "mãozinha" ao passar o mouse */
    transition: background-color 0.3s ease; /* Transição suave ao mudar a cor */
    font-size: 1.7vw; /* Tamanho da fonte relativo à largura da tela */
    width: 250px; /* Largura fixa dos botões */
    height: 40px; /* Altura para ajustar o tamanho */
    display: flex; /* Ativa o flexbox dentro do botão */
    justify-content: center; /* Centraliza o texto horizontalmente */
    align-items: center; /* Centraliza o texto verticalmente */
    justify-content: space-evenly; /* Distribui o conteúdo uniformemente no botão */
}

/* Muda a cor do botão ao passar o mouse */
.club-button:hover {
    background-color: #4CAF50; /* Muda a cor de fundo para verde ao passar o mouse */
}

/* Animação ao passar o mouse na seção de clubes */
.animação:hover {
    animation: animCard 400ms; /* Aplica a animação definida */
    height: 225px; /* Altura aumentada */
    width: 450px; /* Largura aumentada */
}

.animação h2 {
    transition: opacity; /* Transição suave na opacidade */
}

.animação:hover h2 {
    display: none; /* Esconde o título ao passar o mouse */
}

.animação:not(:hover) {
    animation: notAnimCard 400ms; /* Aplica a animação quando não estiver em hover */
    height: 150px; /* Altura padrão */
    width: 350px; /* Largura padrão */
}



@keyframes animCard {
    from {
        height: 150px;
        width: 350px;
    }

    to {
        height: 225px;
        width: 450px;
    }
}

@keyframes notAnimCard {
    from {
        height: 225px;
        width: 450px;
    }

    to {
        height: 150px;
        width: 350px;
    }
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

html {
    scrollbar-width: thin;
    scrollbar-color: white rgba(0, 0, 0, 0.1);
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.close-btn {
    float: right;
    cursor: pointer;
    font-size: 20px;
}